<html>
<head>
    <title>Template.Api</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif
        }
    </style>
</head>
<body>
    <h1>Template.Api</h1>
    <div>
        <p>
            Welcome to Template.Api.
        </p>
        <p>
            Explore the available resources in the <a href="/swagger">API documentation</a>.
        </p>
    </div>
</body>
</html>
